*{
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial, sans-serif;
    background-color: #313131;
    color: #fff;
   
}
nav{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}
.center{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#clock{
    font-size: 40px;
    background-color: rgb(142, 11, 182);
    padding: 20px 50px;
    border-radius: 15px;
    margin: 10px;
}